.home {
    text-align: center;
    margin-inline: 90px;
}

.homeBody{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-block: 20px;
    padding-bottom: 50px;
    
}

  
  
