.App {
  text-align: center;
  background-color: #ffffe9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  padding: 2%;
  margin-inline: 10%;
}

.Title {
  color: black;
  font-size: xx-large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.Buttons{
 display: flex;
}

.custom-button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #3e8e41; /* Dark green */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
